<table>
  <tr>
    <th>No</th>
    <th>商品名</th>
    <th>値段</th>
    <th>個数</th>
    <th>小計</th>
    <th></th>
  </tr>
  <tr th:each="carts : ${@cart.itemList}">
    <td>[[${carts.id}]]</td>
    <td>[[${carts.name}]]</td>
    <td>[[${carts.price}]]</td>
    <td>[[${carts.quantity}]]</td>
    <td>[[${carts.price * carts.quantity}]]</td>
    <td>
      <form method="post" action="/cart/delete">
        <input type="hidden" name="itemId" th:value="${carts.id}" />
        <button>削除</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="5" th:text="|総計：${@cart.totalPrice}|"></td>
    <td></td>
  </tr>
</table>
