<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>商品一覧</title>
  <!-- <link href="/css/style.css" rel="styleSheet" /> -->
  <link
    rel="stylesheet"
    th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}"
  />
</head>
<body>
  <header th:replace="header"></header>
  <nav>
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link disabled" aria-current="page" href="/items"
          >項目検索</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/items">全商品</a>
      </li>
      <li th:each="categories : ${categoryList}">
        <a
          class="nav-link"
          th:href="|/items?categoryId=${categories.id}|"
          th:text="${categories.name}"
        ></a>
      </li>
    </ul>
  </nav>

  <main>
    <table border="1" class="table table-striped">
      <tr>
        <th>No</th>
        <th>商品名</th>
        <th>値段</th>
        <th></th>
      </tr>
      <tr th:each="item : ${itemList}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td>
          <form method="post" action="/cart/add">
            <input type="hidden" name="itemId" th:value="${item.id}" />
            <button class="btn btn-primary">カートに追加</button>
          </form>
        </td>
      </tr>
    </table>
  </main>
  <footer th:replace="footer"></footer>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script
    th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"
  ></script>
</body>
