<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>ログイン</title>
  <link
    rel="stylesheet"
    th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}"
  />
</head>
<body>
  <header>
    <span class="d-block p-2 text-bg-dark">
      <h1>サンプルショッピング</h1>
    </span>
  </header>
  <main>
    <form method="post" action="/login">
      <div class="form-floating container">
        <div class="row">
          <div class="col">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="名前を入力してください"
            />
          </div>
        </div>
      </div>
      <button class="btn btn-primary">ログイン</button>
      <br /><span th:text="${message}" style="color: red"></span>
    </form>
  </main>
  <footer>
    <small>&copy; ABCショップ</small>
  </footer>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script
    th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"
  ></script>
</body>
