<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="/css/style.css" rel="styleSheet" />
    <title>注文確認</title>
  </head>
  <body>
    <span th:replace="header"></span>

    <main>
      <h3>以下の内容で注文しますか？</h3>
      <h3>ご注文内容</h3>
      <span th:replace="cartItem"></span>
      <hr />
      <h3>お客様情報</h3>
      <form method="post" action="/order">
        <table>
          <tr>
            <th>お名前</th>
            <td th:text="${customer.name}"></td>
          </tr>
          <tr>
            <th>住所</th>
            <td th:text="${customer.address}"></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td th:text="${customer.tel}"></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td th:text="${customer.email}"></td>
          </tr>
        </table>
        <input type="hidden" name="name" th:value="${customer.name}" />
        <input type="hidden" name="address" th:value="${customer.address}" />
        <input type="hidden" name="tel" th:value="${customer.tel}" />
        <input type="hidden" name="email" th:value="${customer.email}" />
        <button>注文する</button>
      </from>
    </main>
    <span th:replace="footer"></span>
  </body>
</html>
