<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>顧客一覧</title>
  </head>
  <body>
    <h1>顧客一覧</h1>
    <main>
      <p th:text="|こんにちは${@account.name}さん|"></p>
      <form method="get" action="/users">
        <input
          type="text"
          name="keyword"
          th:value="${keyword}"
          placeholder="名前"
        />
        <button>検索</button>
      </form>
      <table border="1">
        <tr>
          <th>顧客ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>パスワード</th>
          <th>更新</th>
          <th>削除</th>
        </tr>
        <tr th:each="users : ${userList}">
          <td th:text="${users.id}"></td>
          <td th:text="${users.name}"></td>
          <td th:text="${users.email}"></td>
          <td th:text="${users.password}"></td>
          <td>
            <form method="get" th:action="|/users/${users.id}/edit|">
              <button>更新</button>
            </form>
          </td>
          <td>
            <form method="post" th:action="|/users/${users.id}/delete|">
              <button>削除</button>
            </form>
          </td>
        </tr>
      </table>
      <a href="/users/add">新規登録</a>
      <a href="/logout">ログアウト</a>
    </main>
  </body>
</html>
